* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #03472c;
    border: solid;
}

header {
    background-color: #165e49;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 4px;
    margin-left: 20PX;
}

.navbar img {
    max-height: 100%;
    display: flex;
    border: 5px solid #0f0f0f;
}

.navbar img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    border: 5px solid #0f0f0f;
}


.navbar img:hover {
    transform: rotate(360deg);
}

@media only screen and (max-width: 768px) {
    .navbar img {
        display: none;
    }
}

.navbar h1 {
    font-size: 30px;
    margin: 10px;
}

.navbar h1 span {
    color: #ffcc00;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #f5ecec;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #0aad5e;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1;
        text-align: right;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .menu a {
        padding: 10px;
        display: block;
    }

    .menu a:hover {
        background-color: #20714e;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }
}

.image-section {
    position: relative;
    text-align: center;
}

.image-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.image-section img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}


.heading-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #89a99c;
    font-family: 'Helvetica', sans-serif;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    font-family: 'Montserrat', sans-serif;
}

.heading-1 h1 {
    font-size: 2.0rem;
    color: #bfe3b9;
    padding: 12px 20px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}

@media screen and (max-width: 600px) {
    .heading-1 {
        top: 20%;
    }

    .heading-1 h1 {
        font-size: 1.0rem;
        padding: 6px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wildlife-intro h2 {
    color: #0da96d;
    font-size: 28px;
    margin-left: 10px;
    background-color: #f1f4f4;
    padding: 10px;
    font-weight: bold;
}

.sub-1,
.sub-section,
.sub-section-end {
    padding: 10px;
    margin: 10px;
    text-align: justify;
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 30px;
}

.sub-section-end {
    text-align: left;
}

.introduction h2 {
    font-size: 36px;
    color: #0da96d;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    text-align: justify;
    background-color: #f1f4f4;
    border-radius: 10px;
}

.sub-section h3 {
    color: #1aad33;
    margin-top: 0;
    margin-bottom: 10px;
}

.sub-section p,
.text-box p,
.grid p {
    font-size: 17px;
    color: #11201c;
    line-height: 1.6;
    margin-top: 10px;
}

.wrapper {
    background-color: #10bc71;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    margin: 30px auto;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}

.wrapper img {
    max-width: 100%;
    height: auto;
    border: 5px solid #fff;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.text-box {
    color: #0e0d0d;
}

.text-box ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.text-box h3 {
    margin: 0;
    color: #eff705;
    font-size: 25px;
    padding-top: 30px;
}

.wrapper a {
    display: inline-block;
    padding: 10px;
    background-color: #38dc38;
    color: #111010;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.wrapper a:hover {
    background-color: #e3f311;
}

.lists {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #b5edc6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-boxh2 {
    color: #37765e;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
}

ul1,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul1 li,
ol li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

ul1 {
    color: #008080;
    margin-left: 1px;
    margin-right: 10px;
    margin-top: 10px;
}

ul1 li:before {
    content: "\2022";
    font-size: 20px;
    margin-right: 10px;
    color: #008080;
}

ol {
    color: #008080;
    margin-left: 15px;
    margin-top: 10px;
}

ol li {
    counter-increment: my-counter;
}

ol li:before {
    content: counter(my-counter) ".";
    font-size: 20px;
    margin-right: 10px;
    color: #008080;
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        text-align: center;
    }

    .wrapper img {
        max-width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008080;
    margin-bottom: 20px;
}

.lists {
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.list-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}

.left-content,
.right-content {
    flex: 1;
    box-sizing: border-box;
    margin-left: 100px;
}


h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.left-content ul {
    list-style: disc;
    margin-left: 20px;
    color: #06531e;
}

.left-content ul li {
    margin-bottom: 10px;
    line-height: 1.8;
}

@media only screen and (max-width: 768px) {
    .list-container {
        flex-direction: column;
    }

    .left-content,
    .right-content {
        margin: 0;
    }
}


/* Footer styles */
footer1 {
    background-color: #333;
    color: #000000;
    padding: 40px 0;
    text-align: center;
}

.footer1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: #58ea7a;
    padding-top: 10px;
    margin-left: 0px;

}

.footer1-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.footer1-content h3 {
    color: #0f0f0f;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer1-content p {
    margin-bottom: 10px;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.list a:hover {
    color: #ee0b0b;
}

/* social icons */
.social-icons {
    list-style: none;
    display: flex;
    text-align: center;
    margin-right: -15px;
}

.social-icons li {
    margin-right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    background-color: #fff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .footer1-container {
        flex-direction: column;
    }

    .footer1-content {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.grid-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.locations {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ddd;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(169, 210, 128);
}

.card,
.locations.map,
.location-content {
    flex: 1;
    margin: 10px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.locations.map iframe {
    width: 100%;
    max-height: 100%;
    border: 0;
    border-radius: 8px;
}

.location-content {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.location-content h3 {
    color: #333;
    margin-bottom: 10px;
}

.location-content p {
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .locations {
        flex-direction: row;

    }
}

.locations:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.card:hover,
.locations.map:hover,
.location-content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

section.wildlife {
    background-color: #f1e7e7;
    padding: 10px;
}


.wildlife-intro {
    text-align: left;
    margin-left: 10px;
}

.wildlife-intro h2 {
    color: #008080;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* table css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #73cc82;
}

thead {
    background-color: #09473a;
    color: #fff;
    text-align: center;
}


th,
td {
    padding: 10px;
    text-align: center;
    border: 3px solid #07422a;
}

td img {
    width: 100%;
    height: auto;
}

tbody,
thead p {
    margin: 0;
    color: #451c1c;
}

tfoot {
    background-color: #09473a;
    color: #fff;
}

tfoot td {
    padding: 10px;
    text-align: center;
}

section.locations img {
    height: auto;
    width: 200px;

}

section.wildlife {
    background-color: #f1e7e7;
    padding: 10px;
}

.header h2 {
    color: #008080;
    font-weight: bold;
    margin-bottom: 10px;

}

.conservation {
    background-color: #83eca7;
    padding: 20px;
    text-align: justify;
    border-radius: 8px;
}

.conservation p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .conservation {
        padding: 10px;
    }

    .conservation p {
        font-size: 16px;
        line-height: 20px;
    }
}

body,
h1,

h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


body {
    background-color: #c0efd0;
    font-family: Arial, sans-serif;
}

.wildlife {
    text-align: center;
    padding: 20px;
    background-color: #acebbc;
    color: #fff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.protected {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #46d892;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.image {
    flex: 1;
    margin: 10px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    /* Added transition for the rotation effect */
    cursor: pointer;
    padding: 10px;
}

.image h3 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #333;
}

.image:hover img {
    transform: scale(1.05);
}



.map-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.map-section iframe {
    width: 100%;
    max-width: 700px;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

@media only screen and (max-width: 768px) {
    .map-section iframe {
        height: 200px;
    }

    .image img {
        width: 200px;
        text-align: center;
        padding: 0;
    }

    .content-section h3 {
        padding: 4px;
        margin: 0;
        text-align: center;
        color: #171b19;
    }

}

.wildlife {
    text-align: center;
    margin: 20px 0;
    border-radius: 8px;
}

.wildlife-intro {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}

.wildlife-intro h2 {
    color: #239e5c;
    font-size: 24px;
}

.Leopards {
    background-color: #5dd8a1;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.leopard img {
    max-height: 100%;
    border-radius: 8px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
    text-align: center;
    margin-left: 450px;
    transition: transform 0.5s ease-in-out;
}

.leopard-venue {
    background-color: #f1e7e7;
    padding: 10px;

}

.wildlife-intro h2 {
    color: #3cac59;
    border-color: #fff;
}

.venue {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #88e18a;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.1);
}

.venue h3 {
    color: #333;
}

.venue p {
    color: #02371b;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 768px) {
    .venue {
        max-width: 100%;
        padding: 15px;
    }

    .leopard img {
        margin-left: 65px;
        max-width: 100;
    }
}


.wildlife {
    text-align: center;
    margin-bottom: 20px;
}

.threat1 {
    background-color: #5dd8a1;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.threat {
    max-width: 800px;
    margin: 20px auto;
    background-color: #c5f4dc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.threat img {
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 300px;
    text-align: center;
    margin-left: 30%;
}

.threat h3 {
    margin: 20px;
    font-size: 1.5em;
    color: #333;
}

.threat p {
    padding: 0 20px 20px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.threat a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #2db16d;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s ease-in-out;
}

.threat a:hover {
    background-color: #12ca46;
}

@media (max-width: 768px) {
    .threat {
        max-width: 100%;
    }

    .threat img {
        margin-left: 15%;
    }
}

.heading-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #89a99c;
    font-family: 'Helvetica', sans-serif;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    /*  fade-in effect */
    font-family: 'Montserrat', sans-serif;
    background-color: #032c15;
}



.animal-section {
    max-width: 950px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8ed5b4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
}

.animal-section p {
    color: #333;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .animal-section {
        max-width: 100%;
        padding: 15px;
    }
}

#subsection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #499c83;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

#subsection1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

#subsection1 h2 {
    color: #074e26;
    font-size: 24px;
    margin-bottom: 15px;
}

#subsection1 p {
    color: #32ff36;
    line-height: 1.6;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

#subsection1 a {
    color: #d3f110;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    display: inline-block;
}

#subsection1 a:hover {
    color: #a6d2f4;
}


.social-icons a:hover img {
    transform: scale(1.3);
}