* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #03472c;
}

header {
    background-color: #165e49;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 4px;
    margin-left: 20PX;
}

.navbar img {
    max-height: 100%;
    display: flex;
    border: 5px solid #0f0f0f;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .navbar img {
        display: none;
    }
}

.navbar h1 {
    font-size: 30px;
    margin: 10px;
}

.navbar h1 span {
    color: #ffcc00;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #f5ecec;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #0aad5e;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1;
        text-align: right;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .menu a {
        padding: 10px;
        display: block;
    }

    .menu a:hover {
        background-color: #20714e;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }
}

.main-image {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.main-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease;
    padding: 20px;
    border-radius: 10px;
}

.main-image:hover {
    transform: scale(1.05);
}

.main-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yala-1 {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: auto;
}

.yala-1 h6 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    transition: font-size 0.5s ease;
    background-color: #4f2e05;
}

.main-image:hover .yala-1 h6 {
    font-size: 1.6em;
}

@media only screen and (max-width: 100%) {
    .main-image::before {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
        box-sizing: border-box;
    }

    .main-image:hover {
        transform: scale(1.03);
    }

    .main-image:hover .yala-1 h6 {
        font-size: 16;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a9e6b3;
}

/* Styles for the overall container */
.park-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    animation: fadeIn 1s ease-out;
}

/* Styles for the separator line */
.park-introduction:before {
    content: '';
    display: block;
    height: 5px;
    width: 300px;
    background: linear-gradient(to right, #283e30, #18e16c);
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

/* Styles for the heading section */
.park-heading {
    text-align: center;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}

.park-heading h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

/* Styles for the description section */
.park-description {
    text-align: center;
    line-height: 1.6;
    animation: slideIn 1s ease-out;
}

.park-description p {
    color: #555;
    margin-bottom: 15px;
}

/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    padding: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 95%;
    margin: 20px auto;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    animation: fadeIn 1s ease-out;
    padding: 10px;
    justify-content: center;
}


.card:before {
    content: '';
    display: block;
    height: 5px;
    width: 300px;
    /* Adjust the width as needed for a shorter line */
    max-width: 100px;
    /* Set a maximum width */
    background: linear-gradient(to right, #283e30, #18e16c);
    border-radius: 10px;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card .content {
    padding: 10px;
    flex: 1;
}

.card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.card:hover img {
    transform: scale(1.1);
}

.card h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

@media only screen and (min-width: 600px) {
    .card {
        flex-direction: row;
        align-items: center;
        /* Optional: Center items vertically in the row */
    }

    .card img {
        height: auto;
        max-width: 150px;
        /* Set a maximum width for the image */
        margin-right: 20px;
        /* Add space between image and content */
    }

    .card .content {
        max-width: 60%;
        /* Adjust the maximum width of the content */
    }

    .card:before {
        width: 10%;
        /* Adjust the width for larger screens */
    }

}


.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.image-container img {
    width: 30%;
    border-radius: 8px;
    border-radius: 50%;
    opacity: 0.8;
    /* Initial opacity for the fade-in effect */
    transition: opacity 0.5s ease-in-out;
    /* Added transition for the fade-in effect */
}

.image-container img:hover {
    opacity: 1;
    /* Full opacity on hover */
}


.wilpattu-wildlife {
    background-color: #c7f0c6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.wilpattu-wildlife-1 {
    text-align: justify;
}

.wilpattu-wildlife-1 p {
    color: #333;
    margin-bottom: 15px;
    line-height: 1.6;
}

.wilpattu-wildlife-1 b {
    color: #555;
}

/* Style the section heading */
.wilpattu-wildlife h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Style the section paragraphs */
.wilpattu-wildlife p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

footer1 {
    background-color: #333;
    color: #000000;
    padding: 40px 0;
    text-align: center;
}

.footer1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: #58ea7a;
    padding-top: 10px;
    margin-left: 0px;

}

.footer1-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.footer1-content h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer1-content p {
    margin-bottom: 10px;
    color: #000000;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.list a:hover {
    color: #ee0b0b;
}

.social-icons {
    list-style: none;
    display: flex;
    text-align: center;
    margin-right: -15px;
}

.social-icons li {
    margin-right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    background-color: #fff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .footer1-container {
        flex-direction: column;
    }

    .footer1-content {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer p {
    color: #fff;
}

.logo {
    font-size: 2.5em;
    margin: 0;
    padding-left: 15px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}




.social-icons a:hover img {
    transform: scale(1.3);
}