* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #03472c;
}

header {
    background-color: #5e2c04;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 4px;
    margin-left: 20PX;
}

.navbar img {
    max-height: 100%;
    display: flex;
    border: 5px solid #0f0f0f;
}

.navbar img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    border: 5px solid #0f0f0f;
}


.navbar img:hover {
    transform: rotate(360deg);
}

@media only screen and (max-width: 768px) {
    .navbar img {
        display: none;
    }
}

.navbar h1 {
    font-size: 30px;
    margin: 10px;
}

.navbar h1 span {
    color: #ffcc00;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10px;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #f5ecec;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #0aad5e;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1;
        text-align: right;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .menu a {
        padding: 10px;
        display: block;
    }

    .menu a:hover {
        background-color: #20714e;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }

}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }
}

.main-image {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.main-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease;
    padding: 30px;
}

.main-image:hover {
    transform: scale(1.05);
}

.main-image::before {
    content: "";
    width: 100%;
    height: 100%;
}

.yala-1 {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: auto;
}

.yala-1 h6 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    transition: font-size 0.5s ease;
    background-color: #4f2e05;
}

.main-image:hover .yala-1 h6 {
    font-size: 1.9em;
}

@media only screen and (max-width: 100%) {
    .main-image::before {
        box-sizing: border-box;
    }

    .yala-1 h6 {
        font-size: 1.0em;
    }

    .main-image:hover {
        transform: scale(1.03);
    }

    .main-image:hover .yala-1 h6 {
        font-size: 1.3em;
    }
}

.park-introduction {
    display: flex;
    flex-direction: column;
    background-color: #fddfb8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.park-introduction .park-heading h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    background: linear-gradient(to right, #edc68e, #5e2c04);
}

.park-introduction .park-description {
    padding: 20px;
    text-align: justify;
}

.park-introduction .park-description p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.park-introduction:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.park-introduction:hover .image img {
    transform: scale(1.1);
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
    .park-introduction {
        max-width: 100%;
    }
}

.image img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    padding: 20px;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.card {
    background-color: #d2ad7e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
    align-items: center;

}

.content {
    padding: 20px;
}

.description {
    color: #333;
    line-height: 1.6;
}

.description p {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: justify;
}

.other-image {
    text-align: center;
    margin-top: 15px;
}

.other-image img {
    width: 100%;
    /* Set to 100% for responsiveness */
    max-width: 400px;
    /* Set a maximum width */
    height: auto;
    border-radius: 8px;
    align-items: center;
}

h2 {
    color: #4f2e05;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    width: calc(33.33% - 10px);
    border-radius: 8px;
    object-fit: cover;
    padding: 20px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container img:hover {
    filter: grayscale(0%);
    transform: rotate(5deg) scale(1.1);
}

.wilpattu-wildlife {
    line-height: 1.6;
    padding: 10px;
}

.wilpattu-wildlife p {
    margin-bottom: 5px;
    margin: 10px;
}

.wilpattu-wildlife b {
    font-weight: bold;
    color: #333;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
    .image-container {
        flex-direction: column;
    }

    .image-container img {
        width: 100%;
        margin-bottom: 10px;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .description,
    .how-hot-is-yala,
    .visiting-yala,
    .yala {
        padding: 15px;
        margin-bottom: 15px;
    }

    .yala p,
    .yala b {
        font-size: 14px;
    }
}

footer1 {
    background-color: #333;
    color: #000000;
    padding: 40px 0;
    text-align: center;
}

.footer1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: #9a6517;
    padding-top: 10px;
    margin-left: 0px;

}

.footer1-content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.footer1-content h3 {
    color: #0f0f0f;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer1-content p {
    margin-bottom: 10px;
}

.list {
    list-style: none;
}

.list li {
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
    text-align: center;
}

.list a:hover {
    color: #ffffff;
}


.social-icons {
    list-style: none;
    display: flex;
    text-align: center;
    margin-right: -15px;
}

.social-icons li {
    margin-right: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    background-color: #fff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .footer1-container {
        flex-direction: column;
    }

    .footer1-content {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer p {
    color: #fff;
}


.logo {
    font-size: 2.5em;
    margin: 0;
    padding-left: 15px;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}





.social-icons a:hover img {
    transform: scale(1.3);
}